.custom-primary-color {
	color: grey;
}

.custom-primary-color:hover{
	color: black;
}
body{
	font-family: 'Open Sans', sans-serif;

}

.custom-secondary-color {
	color: grey;
}

.body-background-color {
	background-color: #E7F0F9;
}
.background-color-yellow{
	background-color: #FEFAE8; 
}
