.custom-primary-color {
	color: grey;
}

.custom-primary-color:hover{
	color: black;
}
body{
	font-family: 'PT Serif', serif;
}

.custom-secondary-color {
	color: grey;
}

.body-background-color {
	background-color:#E7F0F9;
}
